<footer>
    <div class="footer-content">
      <a href="https://www.facebook.com/Blain.Noone" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/in/blain-noone-03177622b/" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/zinxvalkyria/?hl=en" class="fa fa-instagram"></a>
      <p>&copy; 2024 MediaVerse: Database Search Engine</p>
    </div>
  </footer>
  