
<body>

  <!-- Include the header -->
  <header>
    <%- include('header.ejs'); %>
  </header>

  <main>
    <!-- Your content goes here -->
    <h2>Welcome to the FantasyVerse Engine!</h2>
    <p>Explore anime and Marvel characters with our powerful search engine.</p>
  </main>
    <div id ="intro">
      <p>Step into a world where anime charm collides with the superhero prowess of Marvel.
         Here at our Database Search, we've crafted a space where characters, both animated and inked, 
         converge for your exploration. No frills, just a straightforward invitation to uncover the richness of anime narratives and 
         the pulse-pounding adventures of Marvel icons. Navigate seamlessly, search effortlessly, 
         and delve into a universe where simplicity meets clever curation. Welcome to your go-to hub for all things anime and Marvel 
         – let the discovery commence!</p>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u><b>Anime</b></u><a href = "/anime"><img src="aot.jpg"></a>
      </div>
      <div class="flex-item">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b><u>Marvel</u></b><a href = "/marvel"><img src="im.jpg"></a>
      </div>
      <div class="flex-item">
        &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<b><u>Disney </u></b><a href = "/disney"><img src="kh.jpg" ></a>
      </div>
    </div>

 
</body>
 <!-- Include the footer -->
  <footer>  <%- include('footer.ejs'); %>
</footer>

</html>
