<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="styles.css">
  <title>Home</title>
</head>

<body>

  <!-- Include the header -->
  <header>
    <%- include('header.ejs'); %>
  </header>

  <main>
    <!-- Your content goes here -->
    <h2>Welcome to the MediaVerse Engine!</h2>
    <p>Explore movies, anime, and Marvel characters with our powerful search engine.</p>
  </main>

  <div id="intro">
    <p>Welcome to our cozy corner of the internet, your ultimate destination for exploring the diverse realms of movies, games, and Marvel characters.</br>
      Relax, unwind, and allow the vibes to uncover what resonates with your mood.</p>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <b>Movies/Anime</b><a href="/movies"><img src="/resources/aot.jpg" alt="Movies/Anime"></a>
    </div>
    <div class="flex-item">
      <b>Marvel</b><a href="/marvel"><img src="/resources/im.jpg" alt="Marvel"></a>
    </div>
    <div class="flex-item">
      <b>Gaming</b><a href="/gaming"><img src="/resources/kh.jpg" alt="Gaming"></a>
    </div>
  </div>
    <%- include('footer.ejs'); %>
</body>

</html>
