<header>
  <%- include('header.ejs'); %>
</header>

<main>
  <!-- Your content goes here -->
  <h2>Welcome to the KINGDOM HEARTS Engine!</h2>
  <p>Explore anime and Marvel characters with our powerful search engine.</p>
</main>

<header>
  <%- include('footer.ejs'); %>
</header>
