<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="stylesheet" href="styles.css">

<title>Marvel</title>
</head>

<body>
  <header>
    <%- include('header.ejs'); %>
  </header>
  <main>
    <h1>Welcome to the Marvel Character App!</h1>

    <form onsubmit="searchCharacters(); return false;">
      <label for="characterName">Enter Character Name and hit return to search:</label>
      <input type="text" id="characterName" name="character" placeholder="Wolverine">
      <button id="searchButton" type="submit">Search</button>
    </form>
  </main>

  <div id="characterResults">
  <script>
    function searchCharacters() {
      const searchQuery = document.getElementById('characterName').value.trim();

      if (searchQuery === '') {
        // Clear results if the search input is empty
        displayCharacterResults([]);
        return;
      }

      fetch(`/api/character?character=${searchQuery}`)
        .then(response => response.json())
        .then(data => {
          // Display the character results
          displayCharacterResults([data]);
        })
        .catch(error => {
          console.error('Error fetching character data:', error.message);
        });
    }

    function displayCharacterResults(results) {
      const characterResultsDiv = document.getElementById('characterResults');
      characterResultsDiv.innerHTML = ''; // Clear previous results

      if (results.length > 0) {
        // Create a list to display the character results
        const characterList = document.createElement('ul');

        results.forEach(character => {
          const characterItem = document.createElement('li');
          characterItem.classList.add('character');
          characterItem.innerHTML = `
            <img src="${character.thumbnail}" alt="${character.name} Image">
            <div>
              <h3>${character.name}</h3>
              <p>Description: ${character.description || 'No description available'}</p>
              <p>ID: ${character.id}</p>
              <p>Modified: ${character.modified}</p>
              <p>Resource URI: ${character.resourceURI}</p>
              <p>Comics: ${character.comics.available}</p>
              <p>Series: ${character.series.available}</p>
              <p>Stories: ${character.stories.available}</p>
              <p>Events: ${character.events.available}</p>

              <p>URLs:</p>
              <ul>
                ${character.urls.map(url => `<li><a href="${url.url}" target="_blank">${url.type}</a></li>`).join('')}
              </ul>
            </div>
          `;
          characterList.appendChild(characterItem);
        });

        characterResultsDiv.appendChild(characterList);
      } else {
        // Display a message if no results are found
        characterResultsDiv.textContent = 'No results found.';
      }
    }
  </script>
  </div>
    <%- include('footer.ejs'); %>
</body>
</html>
