body::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("/resources/at2.jpg");
  background-size: auto;
  background-attachment: fixed;
  opacity: 0.5;
  filter: blur(5px);
  align-items: center;
}

html {
  font-family: phudu;
  overflow-x: hidden;

}


body {
  font-family: 'Arial', sans-serif;
  position: relative;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  min-height: 100vh; /* Set minimum height to full viewport height */
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > label,
input {
  border-radius: 10px;
}

#results {
  top: 0;
  left: 0;
  width: 100%;
  overflow-x:
}
 /* Disable vertical scrolling */
  /* width of the static content */ 


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
}

.form-group > textarea {
  border-radius: 10px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-family: phudu;
  width:100%;
}

nav {
  background-color: #555;
  padding: 10px;
  font-family: phudu;
}

body,
ul {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  font-family: phudu;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

a:hover {
  color: gold;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}
.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show the text when hovering over the container */
.hover-container:hover .hover-text {
  opacity: 1;
}
main {
  flex: 1; /* Make main flex-grow to take remaining space */
  font-family: phudu;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden;

}

#intro {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
  text-align: center;
}

#characterInfo {
  height: 200px;
  width: 200px;
  text-align: center;
}

#characterResults {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-style: dashed;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 70px;
  margin-right: 80px;
}

.flex-item {
  font-family: phudu;
  margin-left:150px;
}

img {
  height: 250px;
  width: auto;
  border-radius: 8px;
  margin-left: 100px;
  margin-right: 50px;
}
